
@media screen and (max-width: 580px) {
    .width-75 {width: 100%;}
    #rules {padding-left: 0.5em;}
    #rules li > ul {padding: 0 1em !important;}
}

#server-rules {margin: 5em 0;}
#server-rules ul {list-style-type: none;}
#server-rules > #return {margin-top: 3rem;}

#rules > li > h3 {
    font-size: large;
    margin-top: 5rem;
    color: var(--accent-color);
}
#rules li ul li {margin: 1em 0;}
#rules li ul li p {margin: 0.5em 3em 1em 3em;}

#rules li > ul {padding-left: 3em;}

#rules > li > h3 > span {
    display: flex;
    align-items: center;
}

#rules h3 > span::after {display: none;}
#rules h3 > span::before {
    content: '';
    background-color: var(--accent-color);
    height: 0.5em;
    margin: 1em;
    border-radius: 1rem;
    position: static;
    width: auto;
}
#rules h3 > span::before {min-width: 10vw;}
